# Stream Flow Monitoring - Data Exploration (EXTRACT)

From the [OD0145 Stream Flow Monitoring](https://data.princeedwardisland.ca/Environment-and-Food/OD0145-Stream-Flow-Monitoring/qgve-7whk) dataset on the Prince Edward Island Open Data Portal.

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../resources/OD0145_Stream_Flow_Monitoring.csv')
df.head()

,LocationName,Timestamp,Time,YearMonthDay,YearMonth,Year,RawFlow,MaintenanceFlow
0,Southwest River Site 2,09/06/2019 12:00:00 PM,2019-09-06 12:00,2019-09-06,2019-09,2019,0.273,0.147
1,Southwest River Site 2,09/30/2019 05:00:00 PM,2019-09-30 17:00,2019-09-30,2019-09,2019,0.533,0.147
2,Southwest River Site 2,09/05/2021 07:00:00 PM,2021-09-05 19:00,2021-09-05,2021-09,2021,0.507,0.147
3,Bradshaw River,07/01/2009 12:00:00 AM,2009-07-01 00:00,2009-07-01,2009-07,2009,0.369,0.230
4,Bradshaw River,07/01/2009 01:00:00 AM,2009-07-01 01:00,2009-07-01,2009-07,2009,0.371,0.230

In [8]:
# Check unique value counts.
df.nunique()

LocationName           8
Timestamp          61067
Time               61067
YearMonthDay        2579
YearMonth             98
Year                  13
RawFlow             4402
MaintenanceFlow       31
dtype: int64

In [26]:
# Get unique LocationNames and number of records per.
pd.DataFrame({'LocationName': df['LocationName'].unique().tolist(),
              'Count': [df.loc[df['LocationName'] == x]['LocationName'].count() for x in df['LocationName'].unique().tolist()]})

             LocationName  Count
0  Southwest River Site 2  17082
1          Bradshaw River  48137
2              Dunk River  36825
3          Montague River  10586
4             North Brook  15786
5  Southwest River Site 1  13711
6            Vernon River  10564
7            Wilmot River  18938

In [14]:
df['LocationName'].unique().tolist()

['Southwest River Site 2',
 'Bradshaw River',
 'Dunk River',
 'Montague River',
 'North Brook',
 'Southwest River Site 1',
 'Vernon River',
 'Wilmot River']

In [20]:
[df.loc[df['LocationName'] == x]['LocationName'].count() for x in df['LocationName'].unique().tolist()]

[17082, 48137, 36825, 10586, 15786, 13711, 10564, 18938]

In [18]:
df.loc[df['LocationName'] == 'Southwest River Site 2']['LocationName'].count()

17082