# Stream Flow Monitoring - Data Exploration and Transformation

From the [OD0145 Stream Flow Monitoring](https://data.princeedwardisland.ca/Environment-and-Food/OD0145-Stream-Flow-Monitoring/qgve-7whk) dataset on the Prince Edward Island Open Data Portal.

In [1]:
%matplotlib inline
import pandas as pd

import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches

# Style.
from matplotlib import style
style.use('fivethirtyeight')

In [2]:
df = pd.read_csv('../resources/OD0145_Stream_Flow_Monitoring.csv')
df.head()

,LocationName,Timestamp,Time,YearMonthDay,YearMonth,Year,RawFlow,MaintenanceFlow
0,Southwest River Site 2,09/06/2019 12:00:00 PM,2019-09-06 12:00,2019-09-06,2019-09,2019,0.273,0.147
1,Southwest River Site 2,09/30/2019 05:00:00 PM,2019-09-30 17:00,2019-09-30,2019-09,2019,0.533,0.147
2,Southwest River Site 2,09/05/2021 07:00:00 PM,2021-09-05 19:00,2021-09-05,2021-09,2021,0.507,0.147
3,Bradshaw River,07/01/2009 12:00:00 AM,2009-07-01 00:00,2009-07-01,2009-07,2009,0.369,0.230
4,Bradshaw River,07/01/2009 01:00:00 AM,2009-07-01 01:00,2009-07-01,2009-07,2009,0.371,0.230

In [3]:
# Check unique value counts.
df.nunique()

LocationName           8
Timestamp          61067
Time               61067
YearMonthDay        2579
YearMonth             98
Year                  13
RawFlow             4402
MaintenanceFlow       31
dtype: int64

In [4]:
# Get unique LocationNames and number of records per.
df_lc = pd.DataFrame({'LocationName': df['LocationName'].unique().tolist(),
              'Count': [df.loc[df['LocationName'] == x]['LocationName'].count() for x in df['LocationName'].unique().tolist()]}) \
        .set_index('LocationName').sort_values('Count', ascending=False)
df_lc.index.name = None
df_lc

                        Count
Bradshaw River          48137
Dunk River              36825
Wilmot River            18938
Southwest River Site 2  17082
North Brook             15786
Southwest River Site 1  13711
Montague River          10586
Vernon River            10564

In [5]:
# Use Bradshaw River as first look.
df_brad = df.loc[df['LocationName'] == 'Bradshaw River']
df_brad.head()

,LocationName,Timestamp,Time,YearMonthDay,YearMonth,Year,RawFlow,MaintenanceFlow
3,Bradshaw River,07/01/2009 12:00:00 AM,2009-07-01 00:00,2009-07-01,2009-07,2009,0.369,0.23
4,Bradshaw River,07/01/2009 01:00:00 AM,2009-07-01 01:00,2009-07-01,2009-07,2009,0.371,0.23
5,Bradshaw River,07/01/2009 02:00:00 AM,2009-07-01 02:00,2009-07-01,2009-07,2009,0.369,0.23
6,Bradshaw River,07/01/2009 03:00:00 AM,2009-07-01 03:00,2009-07-01,2009-07,2009,0.368,0.23
7,Bradshaw River,07/01/2009 04:00:00 AM,2009-07-01 04:00,2009-07-01,2009-07,2009,0.369,0.23

In [6]:
# Check order is already sorted.
df.loc[df['LocationName'] == 'Bradshaw River'].sort_values('Time', ascending=True).equals(df.loc[df['LocationName'] == 'Bradshaw River'])

True

In [7]:
# Clean up DataFrame to include only needed columns.
df_brad = df_brad.drop(columns=['LocationName', 'Timestamp', 'YearMonthDay', 'YearMonth', 'Year']).set_index('Time')
df_brad.index.name = 'Bradshaw River'
df_brad.head()

                  RawFlow  MaintenanceFlow
Bradshaw River
2009-07-01 00:00    0.369             0.23
2009-07-01 01:00    0.371             0.23
2009-07-01 02:00    0.369             0.23
2009-07-01 03:00    0.368             0.23
2009-07-01 04:00    0.369             0.23

In [8]:
# Get information about remaining columns.
df_brad.describe()

            RawFlow  MaintenanceFlow
count  48137.000000     32232.000000
mean       0.411982         0.218214
std        0.322844         0.045247
min        0.053000         0.171000
25%        0.204000         0.190000
50%        0.310000         0.190000
75%        0.499000         0.230000
max        3.326000         0.296000

In [9]:
# Check for null values.
df_brad.isna().sum()

RawFlow                0
MaintenanceFlow    15905
dtype: int64