## PEI Election Data

Using the data from [Elections PEI - Open Data](https://www.electionspei.ca/resources/open-data), and more specifically [Yearly Political Party Contributions - Open Data](https://www.electionspei.ca/yearly-political-party-contributions-open-data), we create some visualizations of the data.

After cleaning the data, we can begin the visualizations, etc.

In [1]:
# Dependencies.
import pandas as pd

In [2]:
# Data.
df = pd.read_csv('../resources/transformed_data/election_contributions_transformed.csv')
df

,Year,Party,Entity,Community,Province,Amount
0,2011,Green Party,Peter Lanthier,Mermaid,PE,350.00
1,2011,Green Party,Darcie Lanthier,Mermaid,PE,400.00
2,2011,Green Party,Barbara Munves,Charlottetown,PE,500.00
3,2011,Green Party,Green Party of Canada,Malpeque Association,NaN,5300.00
4,2011,Island Party,George Ferguson,Murray River,PE,400.00
...,...,...,...,...,...,...
7746,2020,Conservative Party,Margaret Ann Walsh,Watervale,PE,1500.00
7747,2020,Conservative Party,William Wellner,Charlottetown,PE,3000.00
7748,2020,Conservative Party,Ross Wheatley,Stratford,PE,310.26
7749,2020,Conservative Party,Sean Wheeler,Charlottetown,PE,500.00
7750,2020,Conservative Party,Tara Wheeler,Charlottetown,PE,500.00

In [3]:
# Get only those in PEI.
pei_df = df.loc[df.Province == 'PE']
pei_df.head()

   Year         Party             Entity      Community Province  Amount
0  2011   Green Party    Peter Lanthier         Mermaid       PE   350.0
1  2011   Green Party   Darcie Lanthier         Mermaid       PE   400.0
2  2011   Green Party    Barbara Munves   Charlottetown       PE   500.0
4  2011  Island Party   George Ferguson    Murray River       PE   400.0
5  2011  Island Party  Winnifred Murphy          Peakes       PE   400.0

In [4]:
# Get total contributions from each community in PEI - all years.
total_pei_df = pd.DataFrame(pei_df.groupby(['Community'])['Amount'].sum())
total_pei_df.to_csv('../resources/transformed_data/Election_Contribution_by_Community.csv')
total_pei_df.head()

                 Amount
Community
Abram-Village    667.45
Albany         13828.78
Alberton       15933.47
Alexandra       3228.17
Argyle Shore    7366.70

In [5]:
# Get total contributions from each community in PEI - all years by party.
party_pei_df = pd.DataFrame(pei_df.groupby(['Community', 'Party'])['Amount'].sum())
party_pei_df.to_csv('../resources/transformed_data/Election_Contribution_by_Community_by_Party.csv')
party_pei_df.head()

                                   Amount
Community     Party
Abram-Village Conservative Party   667.45
Albany        Conservative Party  3588.78
              Green Party         6470.00
              Liberal Party       3770.00
Alberton      Conservative Party  7865.68

In [6]:
# Get total amount from each community each year.
year_pei_df = pd.DataFrame(pei_df.groupby(['Year', 'Community', 'Party'])['Amount'].sum())
year_pei_df.to_csv('../resources/transformed_data/Election_Contribution_by_Year_by_Community_by_Party.csv')
year_pei_df

                                               Amount
Year Community          Party
2011 Albany             Conservative Party     250.00
                        Liberal Party         1750.00
     Alberton           Conservative Party    1016.47
                        Liberal Party         1580.61
     Argyle Shore       New Democratic Party  1200.00
...                                               ...
2020 Websters Corner    Liberal Party         1000.00
     Wellington         Liberal Party         2000.00
     Wellington Station Liberal Party         3000.00
     Wheatley River     New Democratic Party   375.00
     York               Liberal Party         8222.52

[1163 rows x 1 columns]