In [1]:
# Dependencies.
import pandas as pd

In [2]:
# Data.
df = pd.read_csv('../resources/transformed_data/pei_places_coordinates.csv')
df.head()

,Place,URL,Coords
0,48 Road,index.php3?cgndb=BAAFX&formattype=&city=48%20Road,"46°15', W 62°43'"
1,Abney,index.php3?cgndb=BADOL&formattype=&city=Abney,"45°59', W 62°34'"
2,Abrams Village,index.php3?cgndb=BADOM&formattype=&city=Abrams...,"46°27', W 64°05'"
3,Afton,index.php3?cgndb=BAEDL&formattype=&city=Afton,"46°11', W 63°11'"
4,Afton Road,index.php3?cgndb=BADOP&formattype=&city=Afton%...,"46°23', W 62°56'"

In [3]:
# Split Coords column into Longitude and Latitude.
df['Longitude'] = df['Coords'].str[:2].astype(float) + (df['Coords'].str[3:5].astype(float) / 60)
df['Latitude'] = df['Coords'].str[10:12].astype(float) + (df['Coords'].str[-3:-1].astype(float) / 60)
df.head()

,Place,URL,Coords,Longitude,Latitude
0,48 Road,index.php3?cgndb=BAAFX&formattype=&city=48%20Road,"46°15', W 62°43'",46.250000,62.716667
1,Abney,index.php3?cgndb=BADOL&formattype=&city=Abney,"45°59', W 62°34'",45.983333,62.566667
2,Abrams Village,index.php3?cgndb=BADOM&formattype=&city=Abrams...,"46°27', W 64°05'",46.450000,64.083333
3,Afton,index.php3?cgndb=BAEDL&formattype=&city=Afton,"46°11', W 63°11'",46.183333,63.183333
4,Afton Road,index.php3?cgndb=BADOP&formattype=&city=Afton%...,"46°23', W 62°56'",46.383333,62.933333

In [4]:
# Store CSV.
df.to_csv('../resources/transformed_data/pei_places_url_lat_lng.csv')
df[['Place', 'Latitude', 'Longitude']].set_index('Place').to_csv('../resources/transformed_data/pei_place_lat_lng.csv')